<!--The content below is only a placeholder and can be replaced.-->
<div class="grid">
  <div class="col-12 flex align-items-center">
    <h1>
      PrimeNG custom "pInputTextArea" directive with a character count.
    </h1>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <!-- To use the primeng text are directive, we just add it to the textarea component. Show how the text area works -->
    <textarea pInputTextArea [(ngModel)]="text" [rows]="10" maxlength="250" style="width: 500px;"></textarea>
  </div>
  <div class="col-3">
    <!-- To use the character counter directive, we just replace the primeng textarea directive, since we use it in our custom directive.
     Show how it works -->
    <textarea appCharacterCount [(ngModel)]="text2" maxlength="250" [rows]="10" style="width: 500px;"></textarea>
  </div>
</div>
